<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
</head>

<body>
    <header>
        <section>
            <article>
                <img src="/images/logo-mercado-liebre.svg" alt="Logo">
            </article>

            <article>
                <div>Lugar para poner la barra de búsqueda</div>
            </article>

            <article>
                <p>Comprá en cuotas y sin tarjeta de crédito</p>
            </article>
        </section>

        <section>
            <article>
                <nav>
                    <ul>
                        <li><a href="">Ofertas</a></li>
                        <li><a href="">Tiendas Oficiales</a></li>
                        <li><a href="">Vender</a></li>
                        <li><a href="">Ayuda</a></li>
                    </ul>
                </nav>
                <nav>
                    <ul>
                        <li><a href="">Creá tu cuenta</a></li>
                        <li><a href="">Ingresá</a></li>
                        <li><a href="">Mis compras</a></li>
                    </ul>
                </nav>
            </article>
        </section>
    </header>

    <main>
        <!-- Basado en tu ultima vista -->

        <section>
            <h2>Basado en tu última vista</h2>

            <article>
                <img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera" width="300px">

                <!-- PROFE ACA NO USE 3 <P> PORQUE SE ME SEPARABA MUCHO UNA LINEA DE LA OTRA, Y POR ESO USE EL SALTO DE
                    LINEA DENTRO DE UN SOLO <P>. NO SE SI ESTA BIEN PERO ES LA SOLUCION QUE ENCONTRE USANDO SOLO HTML -->
                <p>$6.670 <br>
                    40% OFF <br>
                    <b> Cafetera Moulinex</b>
                </p>
            </article>

            <article>
                <img src="/images/img-macbook-pro-2019.jpg" alt="Macbook pro 2019" width="300px">
                <p>$230.000<br>
                    20% off<br>
                    <b> MacBook Pro 2019</b>
                </p>
            </article>

            <article>
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="samsung galaxy s10" width="300px">
                <p>$70.500 <br>
                    10% off <br>
                    <b> Samsung Galaxy S10</b>
                </p>
            </article>

            <article>
                <img src="/images/img-tv-samsung-smart.jpg" alt="tv samsung smart" width="300px">
                <p>$23.200 <br>
                    5% off <br>
                    <b>SmartTv Samsung 43"</b>
                </p>
            </article>

        </section>

        <!-- seccion de Ofertas -->
        <section>
            <h2>Ofertas</h2>
            <article>
                <img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera" width="300px">
                <p>$6.670 <br>
                    40% OFF <br>
                    <b> Cafetera Moulinex</b>
                </p>
            </article>

            <article>
                <img src="/images/img-macbook-pro-2019.jpg" alt="Macbook pro 2019" width="300px">
                <p>$230.000<br>
                    20% off<br>
                    <b> MacBook Pro 2019</b>
                </p>
            </article>

            <article>
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="samsung galaxy s10" width="300px">
                <p>$70.500 <br>
                    10% off <br>
                    <b> Samsung Galaxy S10</b>
                </p>
            </article>

            <article>
                <img src="/images/img-tv-samsung-smart.jpg" alt="tv samsung smart" width="300px">
                <p>$23.200 <br>
                    5% off <br>
                    <b>SmartTv Samsung 43"</b>
                </p>
            </article>

        </section>

    </main>

    <footer>
        <section>
            <article>
                <h3>Pagá con tarjeta o en efectivo</h3>
                <p> Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p>
            </article>
            <article>
                <h3>Envío gratis desde $ 2.500</h3>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
            </article>
            <article>
                <h3>Seguridad, de principio a fin</h3>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
            </article>
            <article>
                <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
            </article>
        </section>

    </footer>


</body>

</html>