<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Login</title>
</head>
<body class="login">
        <form class="wrapperlog" action="/register" method="POST">
            <h1 class="titulolog">
                iniciar sesión
            </h1>
            <div class="form">
               <div class="inputfield">
                    <label for="user">Nombre de Usuario:</label>
                    <input class="input" type="username" name="username" id="user" required="" placeholder="Usuario">
               </div>

                <div class="inputfield">                                
                    <label for="contraseña">Contraseña:</label>
                    <input class="input" type="password" name="password" id="contraseña" required="" placeholder="Contraseña">
                </div>
                                
                <div class="inputfield">
                    <input class="btn" type="submit" value="Ingresar">
                </div>
            </div>        
        </form>
</body>
</html>