header {
    background-color: var(--color-Amarillo);
    padding-bottom: 20px;
}
header .buscador{
    margin-left: 10px;
}
nav {
    display: none;
}
header p{
    text-align: center;
    margin-top: 15px;

}
header a.burger-menu{
    color: white;
    text-align: center;
    display: block;
    background-color: var(--color-Celeste);
    margin: auto;
    width: 35px;
    padding: 8px;
    border-radius: 5px;
    margin-top: 10px;
}
.header-nav ul{
    margin-bottom: 15px;
    margin-top: 15px;
    margin-left: 10px;
}

.logo {
    width: 170px;
    /* margin: ; */
    padding: 15px;
    margin-left: 10px; 
    margin-top: 10px;
}
@media(min-width: 361px){
    nav {
        display: block;
    }
    header a.burger-menu {
        display: none;
    }
    
}

@media(min-width: 769px){
   
}