.register {
    background-color: #ebebeb;
}
.register section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.register section form{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 90%;

}
.register section form article{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}
.register section form .categorias{
    display: block;
    
}  
.register section form .negocio{
    display: block;
    
}  